# Ignore everything
**

# Allow files and directories
!example.py
!pyproject.toml
!poetry.lock

# tcp service proxy configuration template
!tcp/templates/default.conf.template

# combined s6 services run scripts
!combined/services/*.sh
# combined nginx proxy file
!combined/proxy.conf

# sharedvol socket proxy
!sharedvol/proxy.conf
